@page
@model DocDocGo.Pages.Administrator.SettingsModel
@{
    ViewData["Title"] = "Administrator Settings";
    Layout = "~/Pages/Shared/_DashboardLayout.cshtml";

}
<h1>@ViewData["Title"]</h1>

<body>
  <div id="admin-settings">
    <ul>
      <li><a href="#general">General Settings</a></li>
      <li><a href="#security">Security Settings</a></li>
      <li><a href="#notifications">Notification Settings</a></li>
    </ul>
    
    <div id="general">
      <h2>User Settings</h2>
                      <form class="d-flex">
                    <input id="searchBox" class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
                </form>
         <div class="form-group" style="margin-top: 10px;">
                    <table class="table table-hover table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Email Address</th>
                                <th>Date of Birth</th>
                                <th>Contact Number</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>@(user.FirstName)</td>
                                    <td>@(user.MiddleName)</td>
                                    <td>@(user.LastName)</td>
                                    <td>@user.UserName</td>
                                    <td>@user.DateOfBirth</td>
                                    <td>@user.PhoneNumber</td>
                                    <td>
                                        <a asp-page="/Administrator/UpdateUser" asp-route-id="@user.Id" class="btn btn-primary my-2 my-sm-0"
                                           data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="bi bi-pencil-outline"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
    </div>
    
    <div id="security">
      <h2>Security Settings</h2>
    </div>
    
    <div id="notifications">
      <h2>Notification Settings</h2>

    </div>
  </div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#searchBox").on("keyup", function () {
                var searchText = $(this).val().toLowerCase();
                $("table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
                });
            });
        });
    </script>
    <style>
        .contact-number {
            white-space: nowrap; /*makes sure line breaks aren't enforced on the column.*/
        }
    </style>
}
</body>
