@page
@model DocDocGo.Pages.Patient.IndexModel
@{
    ViewData["Title"] = "Patients";
    Layout = "~/Pages/Shared/_DashboardLayout.cshtml";

}
@using DocDocGo.Models;

<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <form class="d-flex">
                    <input id="searchBox" class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
                </form>

                <div class="form-group" style="margin-top: 10px;">
                    <table class="table table-hover table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Patient ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email Address</th>
                                <th>Contact Number</th>
                                <th>Gender</th>
                                <th>Date Of Birth</th>
                                <th>Treatment Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var patient in Model.Patients)
                            {
                                <tr>
                                    <td>@patient.PatientId</td>
                                    <td>@patient.FirstName</td>
                                    <td>@patient.LastName</td>
                                    <td>@patient.EmailAddress</td>
                                    <td class="contact-number">@patient.ContactNumber</td>
                                    <td>@patient.Gender</td>
                                    <td>@patient.DateOfBirth</td>
                                    <td>@(patient.IsPrivatePatient ? "Private Healthcare" : "NHS Treatment")</td>
                                    <td>
                                        <a asp-page="/Patient/UpdatePatient" asp-route-id="@patient.PatientId" class="btn btn-primary my-2 my-sm-0"
                                       data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/search.js"></script>@* This is for the searching logic.*@

    <style>
        .contact-number {
            white-space: nowrap; /*makes sure line breaks aren't enforced on the column.*/
        }
    </style>
}